.about {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fafbf5;
}

.about .aboutTitle {
  font-size: 60px;
}

.about .aboutText {
  font-size: 21px;
}

.about .aboutImage {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
  color: #fafbf5;
  padding: 160px;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: left;
  margin-top: 50px;
  color: #343231;
}

.aboutBottom p {
  width: 1200px;
}
