.about {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fafbf5;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: left;
  margin-top: 50px;
  color: #343231;
}

.aboutBottom p {
  width: 1200px;
}
