.footer {
  width: 100%;
  height: 150px;
  background-color: #fafbf5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.socialMedia svg {
  color: #343231;
  margin: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.footer p {
  margin: 20px;
  font-size: 0.875rem;
  color: #aba9a8;
}

.footer a {
  color: #343231;
  text-decoration: none;
  margin: 20px;
  font-size: 1rem;
}

.footer a:hover,
svg:hover {
  color: #004aad;
}

/* Add media query for devices with width less than or equal to 600px */
@media only screen and (max-width: 600px) {
  .footer {
    height: auto; /* Adjust the height as per your requirement */
  }

  .socialMedia svg {
    font-size: 20px; /* Adjust the font size as per your requirement */
    margin: 10px; /* Adjust the margin as per your requirement */
  }

  .footer p,
  .footer a {
    font-size: 10px; /* Adjust the font size as per your requirement */
    margin: 10px; /* Adjust the margin as per your requirement */
  }
}
